
/* General */

.colorVO{color:#1A6E33;}
.colorVC{color:#44b955;}
.colorGO{color:#545b62;}
.colorGC{color:#edf0f5;}
.colorGM{color:#6c757d;}
.colorBL{color:#ffffff;}
.colorNG{color:#000;}
.colorRED{color:#ff0000;}
.bgVO{background:#1A6E33;}
.bgVC{background:#44b955;}
.bgGO{background:#545b62;}
.bgGC{background:#edf0f5;}
.bgGCC{background:#f8fafc;}
.bgGM{background:#6c757d;}
.bgBL{background:#ffffff;}
.bgRED{background:#ff0000;}
button{cursor: pointer;border-radius: .35em;}


a:hover{color:#1A6E33;}
.menuOperative ul li a:hover{color:#fff; text-decoration: underline;}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.card {
    position: relative;
    display: block;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 20px 0.5%;
    float: left;
    width: 97.5%;
}

.card-header {
    margin: auto;
    background-color: #44b955;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.6px;
}

.card-body {
    padding: 35px 70px;
}

.center{text-align:center;}
.bold{font-weight:bold;}
.spanCheck{margin-left:10px;}
.pNextLine{margin-left:28px;}
#pageName{
    color: #fff;
    margin-left: 54px;
    font-size: 20px;
}

.navbar{
    padding: 0;
    position: fixed;
    top: 0;
    height: 80px;
}
.navbar-brand{
    width: 20%;
    float: left;
    background-color: transparent;
    margin: 0;
    height: 80px;
    padding: 0;
    text-align: center;
}
.navbar-brand img{
    width:70%;
    margin: 20px;
}

#navbarSupportedContent{
    width: 80%;
    background-color:#44b955;
    float: right;
    margin: 0;
    padding: 0;
    height: 80px;
}

.container {
    margin: 0;
    padding: 0;
}

.menuUser ul{
    text-align: center;
}

.menuOperative{

}

.menuHelp{

}

#menu-left{
    float: left;
    width: 20%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 1500px;
    position: fixed;
    top: 80px;
}

#gds-main{
    float: right;
    width: 80%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    min-height: 1500px;
    position: relative;
    top: 80px;
    z-index: -100;
}

div#navbarSupportedContent a#navbarDropdown {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

/* MENU */
#sectionMenu{

}

#sectionMenu .row-menu{
    margin: 10px 0;
    border-bottom: solid 1px #eee;
}

#sectionMenu .row-menu ul{
    width: 100%;
    padding-left: 0;
}

#sectionMenu .row-menu ul li{
    list-style: none;
    margin: 16px 0;
    cursor: pointer;
}

#sectionMenu .row-menu.menuOperative ul li {
    padding-left: 40px;
}

#sectionMenu .row-menu.menuHelp ul li {
    padding-left: 40px;
}

#sectionMenu a {
    text-decoration: none;
}

a.active{color:#44b955;}

ul.level0 li{
      padding: 10px 0 20px 25px;
      margin: 0px 0 !important;
}

ul.level0 li.active{
    background-color: #eeeeee57;
}

ul.level1 {
    padding: 20px 0 0 20px !important;
}

.msg-top{
    background: #ffff002e;
    padding: 20px;
    width: 98%;
    border-radius: .35em;    
}


/* Dashboard*/
#dashboard .steps li {
    float: left;
    list-style: none;
    background: #fff;
    padding: 60px 25px;
    margin: 25px 1%;
    width: 31% !important;
    max-width: 31%;
    position: relative;
    height: 400px;
}

.checklist-item{margin-bottom:20px;}
.checklist-item p{margin-bottom:0px;}

.step-title{
    color: #545b62;
    font-size: 28px;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
    margin-top: 25px;
    letter-spacing: 0.6px;
}


.step-desc{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #6c757d;
    line-height: 16px;
    max-width: 80%;
    margin: auto;
    padding: 10px 0;
    letter-spacing: 0.3px;
}


.step-end{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 0.6px;
}

.step-end a {
    text-decoration: none;
    border: solid 1px #44b955;
    background-color: #44b955;
    color: #fff;
    padding: 6px 12px;
    border-radius: .35em;
}

.step-end a:hover {
    background-color: #44b955;
    border: solid 1px #44b955;
    transition-duration: 0.6s;
}

.steps li img{
    width: 35%;
    margin: auto;
    display: block;
}

.storeCheck{
    position: absolute;
    top: 0px;
    right: -8px;
}

.storeCheck img{
    width: 60% !important;
}

.menu-icon{
    float: left;
    margin-right: 10px;
}

.card-body p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
}

/* SEARCH PRODUCTS */
#searchFilters{
    margin: -14px 0 20px 0;
    float: left;
    width: 100%;
    position: fixed;
    background: #fff;
    padding: 20px 0;
    position: fixed;
}
#searchFilters div {
   float: none;
   display: inline-flex;
}

#searchFilters div{float: left}
#txt_search{width:80%;}

#searchFilters .content-selects select{
    width: 100%;
    border: solid 1px;
}

#searchResults{width:100%;float: left; margin:20px 0; margin-top: 80px;
}

#searchResults article{
    float:left;
    width:23%;
    margin: 1% 1% !important;
    padding:5px;
    background:#fff;
}
.article-image img {
   width: 100%;
   padding: 12%;
}

.article-image img:hover {
   transition: transform 2.5s;
   transform: scale(1.12);
}

.article-data {
   height: 125px;
   padding: 15px;
   border-top: 2px solid #edf0f5;
}

article{height: 460px;}
.article-actions{
    text-align: center;
    display: block
}
.pArticleData{line-height: 0px;}
.pName{font-weight: bold;line-height: 20px;}

.subcategories-content{    margin: 20px 0 0px;
    float: left;
    padding: 10px;}
.subcategories-content .subcategory{list-style: none;
    float: left;
    margin: 5px 10px;}

.subcategories-content .subcategory a:hover{color:#44b955;}

input#txt_search {
   border: 1px solid #fff;
   padding-left: 15px;
   border: solid 1px;
}

input.btn_search {
   background: #1a6e33;
   border: none;
   padding: 7px 25px 7px 25px;
   color: #fff;
}

input.btn_search:hover {
   background: #44b955;
   cursor: pointer;
}

select#select_category {
   border: 1px solid #fff;
   padding: 6px;
   padding-left: 15px;
   height: 37px !IMPORTANT;
   color: #545b62;
   font-family: roboto , sans-serif;
   font-size: 15px;
}

p.pArticleData.pName.colorVO {
   font-weight: 700;
   font-size: 16px;
   font-family: Roboto, sans-serif;
   color: #1a6e33;
}

p.pArticleData.pPrice.colorVC {
   FONT-SIZE: 18PX;
   font-family: Roboto, sans-serif !IMPORTANT;
   font-weight: 900;
   padding: 2px 0px 5px 0px;
}

p.pArticleData.pStock.colorGM {
   font-size: 17px;
   padding: 3px 0px 3px 0px;
}

p.pArticleData.pBrand.colorGM {
   font-size: 17px;
   padding: 3px 0px 3px 0px;
   line-height: 20px
}

.article-actions {
   margin-top: 20px;
}

button.btn_import_list.bgVC.colorBL {
   border: none;
   padding: 8px 20px 8px 20px;
   font-size: 16px;
   font-weight: 500;
   font-family: roboto, sans-serif;
}

button.btn_import_list.bgVC.colorBL:hover {
   background: #1a6e34;
}

article.id_20988 {
   border: 1px solid #eaeaea;
}

.label-default {
   background-color: #1a6e34b0;
   padding: 4px 10px 4px 10px;
   text-align: center;
   color: #ffffff;
   font-size: 10px;
   letter-spacing: 0.3px;
   font-weight: 500;
}

.label-default:hover {
background-color: #1a6e34;
}


/* PRODUCT DETAILS */
.productDetailContent{
    background: #fff;
    float: left;
    padding: 10px;
    margin-top: 0px;
}
.detailThumbs{float:left;width:10%;padding: 0;margin: 0;}

.detailThumbs img{
    width: 100%;
    cursor: pointer;
    margin: 10px;
    border: 1px solid #edf2f5;
    padding: 10px;
}

img.imgThumb:hover {
   width: 105%;
   height: 105%;
   border-color: #44b955;
}

.detailImage{
    float:left;
    width:40%;
    padding: 3%;
    margin: 0;
    text-align: center;
}

.detailImage img{width: 60%}
.detailInfo{float:left;width:45%;padding: 0;margin: 0;}

.detailInfo .pName {
    font-weight: 900;
    line-height: 30px;
    font-size: 24px;
    text-align: left;
    font-family: roboto, sans-serif;
    margin-bottom: 0px;
}

.detailInfo .pPrice{
    font-size: 24px;
    text-align: left;
    font-family: roboto, sans-serif;
    font-weight: 900;
}

.detailInfo .pStock{
    line-height: 0px;
    font-size: 20px;
}

p.pBrand.colorGM {
   line-height: 0px;
   font-size: 20px;
   margin-top: 27px;
}

.pDescription.colorGM {
   margin-top: 30px;
   font-weight: 900;
   font-size: 18px;
   color: #000;
   padding-bottom: 5px;
}

.detailInfo {
   float: left;
   width: 45%;
   padding: 0;
   margin: 0;
   margin-top: 4%;
   margin-bottom: 4%;
}

.detailInfo .pDescription{    width: 100%;
    float: left;
    border-bottom: solid 1px;
    margin-bottom: 10px}

.detailInfo .contentDescription{    width: 100%;
    float: left;}

.page-item.active .page-link {
    background-color: #44b955;
    border-color: #44b955;
}

.pagination {
    justify-content: center;
}

.page-link {
    color: #89b740;
}

button.btn_import_list_detail.bgVC.colorBL {
   border: none;
   padding: 5px 15px 5px 15px;
   font-size: 17px;
   font-weight: 600;
}

button.btn_import_list_detail.bgVC.colorBL:hover {
   background: #1a6e34;
}

p.pBack.bgGC {
   background: #fff;
   font-weight: 700;
   margin: 10px;
}



/* IMPORT PRODUCT */
.import-product{float:left; width: 100%;margin: 30px 0;}
.import-tabs{float:left; width: 100%;cursor: pointer;}
.import-fixed, .import-tab{float:left;padding: 20px; border:solid 1px; border-right:none;width:10%;}
.import-tab{width: 15%; text-align: center;}
.import-actions{
    padding: 12px;
    border-right: solid 1px;
    width: 34%;
    text-align: right;}
.import-description{display: none;}
.import-variation{display: none;}
.import-images{display: none;}
.import-images ul{float: left;list-style: none;}
.import-images ul li{float: left;margin: 0 10px;}
.import-content{float: left;width: 100%;border:solid 1px; border-top:none;padding: 30px 10px; min-height: 380px;}
.import-product-image{float: left; width: 20%;margin: 0 5%;}
.import-product-image img{width: 100%}
.import-product-data{float: left;width: 70%;margin: 0;padding-left: 35px;}
.import-product-data input{width: 90%;}
.impTitle{font-weight: bold;font-size: 20px;}

.import-tab.active{border-bottom: none; }
.import-tab.active label{color:#44b955;}

.impEditTypes div{float:left;}
.import-description textarea{width:100%;min-height: 250px;}

    .variations-titles{
    float: left;
    width: 100%;
    list-style: none;
    margin: 36px 0 10px;
    text-align: center;
    background: gray;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    }
    .variations-titles li{float:left;width: 10%;margin:0 10px;padding: 10px 5px;}

    .variations-data{
    float: left;
    width: 100%;
    list-style: none;
    margin: 10px 0;
    background: #fff;
    text-align: center;
    border-bottom: solid 1px gray;
    padding-bottom: 20px;
    }
    .variations-data li{float:left;width: 10%;margin:0 10px;padding: 10px 5px;}
    .variations-data li input{width:75%;text-align: center;}

    .producttabs .imagewrap img{max-height:100%;}

/* MY PRODUCTS */
.mp-table{
    float: left;
    width: 95%;
    margin: 30px 0 30px 30px;
    background: #fff;
}

.mp-table ul{
list-style: none;
    width: 100%;
    float: left;
    padding: 30px 10px;
    margin: 0;
    text-align: center;
}

.mp-table ul li{
    float:left;
    margin: 0 10px;
    width:10%;
}

ul.mp-table-titles{

    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.6px;
}
li.mp-table-sku.value-sku {
    font-weight: bold;
}

button.btn-mp-view.bgVC.colorBL {
    font-weight: bold;
    letter-spacing: 0.6px;
}

button.btn-mp-view.bgVC.colorBL:hover {
    background-color: #1A6E33;
    transition-duration: 0.6s;
}

button.btn-mp-delete.bgRED.colorBL {
    background-color: #f39ca2;
    font-weight: bold;
    letter-spacing: 0.6px;
}

button.btn-mp-delete.bgRED.colorBL:hover {
    background-color: #ff0000;
    transition-duration: 0.6s;
}

span.product-action-icon {
    margin: 5px;
}

span.product-action-icon img {
    width: 18px;
}

.mp-table-image img{width:50%;}

.mp-table ul li.mp-table-check{width:5%;}

.mp-table ul li button{
    padding: 5px 20px;
    border: none;
}

.mp-product-detail{
    float: left;
    width: 100%;
    display:none;
}

.mp-product-detail-image{
     float: left;
    width: 30%;
}

.mp-product-detail-data{
    float: left;
    width: 70%;
    text-align: left;
    font-size: 18px;
    padding: 40px 0px;
}


.mp-product-detail button{
    padding: 5px 30px;
    border: none;
}

.mp-product-detail-data .title{font-size: 22px}

ul.mp-table-row li {
    font-size: 16px;
    letter-spacing: 0.3px;
}


/*IMPORT LIST*/

.import-tab {
    background: #f9f9f9;
 }

 button.bgVC.colorBL.btn-import-list-send-all{
    padding: 4px 10px 4px 10px;
    border: none;
    font-size: 15px;
    background: #1a6e34;
    font-family: roboto, sans-serif;
    font-weight: 500;
    margin-left: 5px;
 }

 button.bgVC.colorBL.btn-import-list-send-all:hover {
    background: #44b955;
 }

 .import-tabs {
    color: #bbb;
 }

 .import-content.import-product-detail {
    color: #bbb;
 }

 button.bgRED.colorBL.btn-import-list-delete{
    border: none;
    padding: 3px 15px 3px 15px;
    background: #f39ca2;
    font-weight: bold;
    letter-spacing: 0.6px;
    font-size: 16px;
    float: left;
    margin: 4px 5px;
 }

 button.bgRED.colorBL.btn-import-list-delete:hover {
    background: #ff0000;
    transition-duration: 0.6s;
 }

 button.bgVC.colorBL.btn-import-list-send,button.bgVC.colorBL.btn-import-list-send2 {
    padding: 3px 10px 3px 10px;
    border: none;
    font-weight: bold;
    letter-spacing: 0.6px;
    font-size: 16px;
    float: left;
    margin: 4px 5px;
 }

 button.bgVC.colorBL.btn-import-list-send:hover {
    background: #1a6e34;
    transition-duration: 0.6s;
 }

 .import-fixed.import-checkbox {
    width: 6%;
 }

 .import-tab.active {
    background: #fff;
    font-size: 16px;
    font-family: roboto, sans-serif;
    font-weight: 500;
 }

 .import-tab {
    font-family: roboto, sans-serif;
    font-weight: 400;
 }

 p.impTitle.colorVC {
    color: #1a6e34;
    font-family: roboto, sans-serif;
 }

 label.colorVC {
    font-size: 14px;
    font-family: roboto, sans-serif;
    font-weight: 600;
 }

.container.indexContent {
    padding: 10px 0 10px 20px;
}

 .import-product {
    float: left;
    width: 95%;
    margin: 30px 15px;
}

 .import-product-data input {
    border: 1px solid #dadada;
    width: 90%;
    padding: 5px;
 }

 .impEditTypes .col-md-5.col-sm-5.col-xs-12 {
    padding: 0px;
 }


/* ORDERS */

.mp-table-left, .mp-table-right{    float: left;
    width: 50%;}

.mp-table-right{padding: 32px 10px;}

.mp-table-right button{
    float: left;
    margin: 0 20px;
    width: 25%;
}

.left-date{
    float: left;
    width: 50%;
}

.left-order{
    float: left;
    width: 50%;
}

.order-search-title{
    float: left;
    width: 30%;
    padding: 20px 10px;
    font-size: 20px;
    text-align: center;
}
#txt-order-search{margin-top: 20px;}

.left-date span{
    width: 50px;
    float: left;
}

.rowDate{
    margin: 12px 0;
}

.btn-order-export-selected{background-color: orange;}

.order-status span{color:#fff;padding:4px 30px;width:80%;}
.order-status .order-Paid{background-color:#1A6E33; }
.order-status .order-Shipped{background-color:#44b955;}
.order-status .order-Refounded{background-color:red;}
.order-status .order-Pending{background-color:orange;}
.order-status .order-Delivered{background-color:lightblue;}
.order-status .order-Inprocess{background-color:yellow;color:#000;}

.hide{
    display: none;
}


.label-txt {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-default {
    background-color: #777;
}

    .spanAsk {
        background: #1A6E33;
        color: #fff;
        padding: 2px 7px;
        margin: 0px 5px;
        font-size: 10px;
        border-radius: 15px;
        cursor: pointer;
    }

    .fieldx label {
        float: left;
    }

    .fieldx span {
        float: left;
    }

    .fieldx div {
        float: left;
    }

    .spanAnswer {
    width: 150px;
    font-size: 10px;
    margin-top: 0px;
    position: absolute;
    background: #fff;
    border: solid 1px #000;
    padding: 5px;
    color: #000;
    display: none;
    }





/* ORDER DETAIL */
.screen-order-detail{
    background: #fff;
    padding: 20px;
    float: left;
    width: 100%;
}
.sod-header{
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.sod-header-box{
    float: left;
    width: 30%;
}


.sod-header-box label{
    float: left;
    width: 30%;
    padding: 10px;
    margin: 0;
    border: solid 1px #edf0f5;
}

.sod-header-box div{
    float: left;
    width: 70%;
    padding: 10px;
    margin: 0;
    border: solid 1px #edf0f5;
}

.sod-body{
    float: left;
    width: 100%;
}


.sod-body-side-left {
    float: left;
    width: 30%;
    margin: 0;
    padding: 0px;
}


.sod-body-side-right {
    float: right;
    width: 69%;
    margin: 5px 0;
    padding: 0px;
    background: #edf0f5;
}

.sod-body-side-content{
    float: left;
    width: 100%;
    background: #edf0f5;
    margin: 5px;
}

.sod-title{
    text-align: center;
    font-size: 18px;
    color: #44b955;
    padding: 10px;
    font-weight: 600;
}

.sod-row{
    float: left;
    padding: 10px;
    width: 100%;
}

.sod-row label{
    float: left;
    width: 35%;
}

.sod-row value{
    float: left;
    width: 55%;
}

.title-right{
    font-size: 18px;
    text-align: center;
    padding: 20px;
    border-bottom: solid 1px;
    margin-bottom: 10px;
    font-weight: 600;
}

.titles-right{
    list-style: none;
    float: left;
    width: 100%;
}


.titles-right li{
float: left;
    width: 20%;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}


.data-right{
    list-style: none;
    float: left;
    width: 100%;
}

.data-right li{
    float: left;
    width: 20%;
    text-align: center;
    font-size: 12px;
}

.sod-row-content{
    float: left;
    width: 50%;
    text-align: center;
}

.sod-row-content span{
    padding: 5px 10px;
}

.order-resume{
        float: left;
    width: 100%;
    padding: 20px;
}

.resume-left{
    float: left;
    width: 100%;
}

.resume-left p label{
float: left;
    width: 40%;
    font-weight: bold;
}


.resume-left p value{
float: left;
    width: 40%;
    font-weight: bold;
}

.resume-total-order{
    font-size: 20px;
}



.resume-right button{
    padding:10px 20px;
}

/*  PLANS  */
p.planTitle{
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
}

p.planSubTitle{text-align: center;}

.planContent{
    background: #fff;
    width: 90%;
    padding: 20px;
    border-top: solid #44b955;
    float: left;
    margin: 60px 5%;
}

.planContentTitles p{
        text-align: center;
    font-size: 20px;
    color: #545b62;
    font-weight: bold;
}

.planContentTitles p span{
    font-size: 14px;
    font-weight: 100;
}

.titlePlan{    padding-top: 20px;}

.planContentFunctions ul{
    padding: 0 5%;
}

.ulMedio{
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

.planContentButtons{
     text-align: center;
    padding: 20px;   
}

.planBottom{
    text-align: center;
}

.planBottomTitle{
    font-weight: bold;
    font-size: 20px;   
}

.currentPlan{    color: #44b955;
    font-size: 22px;}

/* SETTINGS */
.screen-settings{padding: 50px;}
.set-inputs p input{width:30px;}
.set-msg{}








/* SETTINGS DEVICES */
@media (min-width: 1200px){

    .container {
        max-width: 1920px;
    }

    article {
        height: 610px;
    }

    .article-data {
        display: inline-block;
        }
    }

@media (min-height: 750px) and (max-height: 900px) {
    #sectionMenu {
    max-height: 700px;
    overflow: hidden;
    overflow-y: inherit;
    }
}

@media (min-height: 500px) and (max-height: 749px) {
    #sectionMenu {
    max-height: 500px;
    overflow: hidden;
    overflow-y: inherit;
    }
}



/* MOBILE  */
@media (max-width: 420px){

.container.indexContent {
    padding: 10px 0 10px 0px;
}

.navbar-brand2 {
    width: 41%;
    text-align: center;
    margin: 0 11%;
    padding: 0;
}


.navbar-brand {
    width: 75%;
}

#menu-left {
    float: left;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: auto;
    position: relative;
    top: 60px;
}


#gds-main {
    min-height: auto;
    width: 100%
}

#dashboard .steps li {
    float: left;
    list-style: none;
    background: #fff;
    padding: 30px 10px;
    margin: 25px 1%;
    width: 100% !important;
    max-width: 100%;
    position: relative;
    height: auto;
    border-bottom: solid 1px #369444;
}

.card {
    position: relative;
    display: block;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 20px 0px;
    float: left;
    width: 100%;
}

.card-body {
    padding: 10px 10px;
}

#sectionMenu .row-menu ul li {
    float: left;
    width: 75%;
    padding: 0;
    margin: 0;   
}

#sectionMenu .row-menu ul li:first-child{
    width: 25%;
}

#sectionMenu .row-menu ul li:first-child > img{
    width: 100%;
}

#sectionMenu .menuOperative ul li {
    float: left;
    width: 100%;
    padding: 0; 
    margin: 8px 0 !important; 
}

#sectionMenu .menuOperative ul li:first-child {width: 100%;}

.liManageProduct ul{display: none;}

#sectionMenu .menuHelp ul li {
    float: left;
    width: 100%;
    padding: 0; 
    margin: 8px 0 !important; 
}

#sectionMenu .menuHelp ul li:first-child {width: 100%;}

}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}