/* General */



.colorVO{color:#1A6E33;}
.colorVC{color:#89B73D;}
.colorGO{color:#545b62;}
.colorGC{color:#edf0f5;}
.colorGM{color:#6c757d;}
.colorBL{color:#ffffff;}
.bgVO{background:#1A6E33;}
.bgVC{background:#89B73D;}
.bgGO{background:#545b62;}
.bgGC{background:#edf0f5;}
.bgGCC{background:#f8fafc;}
.bgGM{background:#6c757d;}
.bgBL{background:#ffffff;}
.bgRED{background:#ff0000;}
button{cursor: pointer;}
a:hover{color:#1A6E33;}

label {
    display: inline-block;
    margin-bottom: 0; 
}

.card {
    position: relative;
    display: block;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 20px auto;
    float: left;
    width: 100%;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #89b73d;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


.center{text-align:center;}
.bold{font-weight:bold;}
.spanCheck{margin-left:10px;}
.pNextLine{margin-left:28px;}
#pageName{
    color: #fff;
    margin-left: 54px;
    font-size: 20px;
}

.navbar{
    padding: 0;
    position: fixed;
    top: 0;
}
.navbar-brand{
    width: 20%;
    background-color: transparent;
    margin: 0;
    height: 40px;
    padding: 0;
    text-align: center;
}
.navbar-brand img{width:70%;}
#navbarSupportedContent{width:80%; background-color:#89b73d;float:left;margin:0;padding:0;height:60px;}

.menuUser ul{text-align: center;}
.menuOperative{padding-left: 10%;}
.menuHelp{padding-left: 10%;}

#menu-left{    
    float: left;
    width: 20%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    min-height: 1500px;
    position: fixed;
    top: 60px;}



#gds-main{
float: left;
    width: 80%;
    background-color: #edf0f5;
    margin: 0;
    padding: 0;
    min-height: 1500px;
    position: relative;
    left: 20%;
    top: 60px;
}

/* MENU */
#sectionMenu{}
#sectionMenu .row-menu{margin: 20px 0;border-bottom: solid 1px #eee;}
#sectionMenu .row-menu ul{width:100%;}
#sectionMenu .row-menu ul li{
    list-style: none;
    margin: 16px 0;
    cursor: pointer;

}

a.active{color:#89B73D;}

ul.level0 li{
      padding: 20px 0 20px 25px;  
      margin: 0px 0 !important;
}

ul.level0 li.active{
    background-color: #eeeeee57;  
}



/* Dashboard*/
#dashboard .steps li {
    float: left;
    list-style: none;
    background: #fff;
    padding: 20px;
    margin: 20px 1%;
    width: 31% !important;
    max-width: 31%;
    position: relative;
}

.checklist-item{margin-bottom:20px;}
.checklist-item p{margin-bottom:0px;}

.step-title{
    color: #545b62;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}


.step-desc{
    text-align: center;
    color: #6c757d;
    line-height: 15px;
    margin: 10px 0;
}


.step-end{
    text-align: center;
    font-weight: bold;
}

.steps li img{
     width: 60%;
    margin: 15px 20%;   
}

.storeCheck{
    position: absolute;
    top: -15px;
    right: -8px;
}

.storeCheck img{width:100%;}

.menu-icon{
    float: left;
    margin-right: 10px;
}

/* SEARCH PRODUCTS */
#searchFilters{margin: 24px 0;}
#searchFilters div{float: left}
#txt_search{width:80%;}
#searchFilters .content-selects select{width:100%; height: 30px;}

#searchResults{width:100%;float: left; margin:20px 0;}
#searchResults article{float:left;width:23%;margin:10px 1%;padding:5px; background:#fff;}
.article-image img{width:100%;margin-top:10px;}
.article-data{height: 125px;}
article{height: 460px;}
.article-actions{text-align: center;}
.pArticleData{line-height: 0px;}
.pName{font-weight: bold;line-height: 20px;}

.subcategories-content{    margin: 20px 0 0px;
    float: left;
    padding: 10px;}
.subcategories-content .subcategory{list-style: none;
    float: left;
    margin: 5px 10px;}

.subcategories-content .subcategory a:hover{color:#89B73D;}

/* PRODUCT DETAILS */
.productDetailContent{
    background: #fff;
    float: left;
    padding: 10px;
    margin-top: 0px;
}
.detailThumbs{float:left;width:10%;padding: 0;margin: 0;}
.detailThumbs img{width: 100%;margin: 5px 0;cursor: pointer;}
.detailImage{float:left;width:45%;padding: 15px;margin: 0;}
.detailImage img{width: 100%}
.detailInfo{float:left;width:45%;padding: 0;margin: 0;}
.detailInfo .pName {
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
}
.detailInfo .pPrice{    
    font-size: 24px;
    text-align: center;}
.detailInfo .pStock{ line-height: 0px;}
.detailInfo .pDescription{    width: 100%;
    float: left;
    border-bottom: solid 1px;
    margin-bottom: 10px}
.detailInfo .contentDescription{    width: 100%;
    float: left;}

.page-item.active .page-link {
    background-color: #89b73d;
    border-color: #89b73d;
}
.pagination {
    justify-content: center;
}
.page-link {
    color: #89b740;
}


/* IMPORT PRODUCT */
.import-product{float:left; width: 100%;margin: 30px 0;}
.import-tabs{float:left; width: 100%;cursor: pointer;}
.import-fixed, .import-tab{float:left;padding: 20px; border:solid 1px; border-right:none;width:10%;}
.import-tab{width: 15%; text-align: center;}
.import-actions{
    padding: 17px;
    border-right: solid 1px;
    width: 30%;
    text-align: right;}
.import-description{display: none;}
.import-variation{display: none;}
.import-images{display: none;}
.import-images ul{float: left;list-style: none;}
.import-images ul li{float: left;margin: 0 10px;}
.import-content{float: left;width: 100%;border:solid 1px; border-top:none;padding: 30px 10px; min-height: 380px;}
.import-product-image{float: left; width: 20%;margin: 0 5%;}
.import-product-image img{width: 100%}
.import-product-data{float: left;width: 70%;margin: 0;padding-left: 35px;}
.import-product-data input{width: 90%;}
.impTitle{font-weight: bold;font-size: 20px;}

.import-tab.active{border-bottom: none; }
.import-tab.active label{color:#89B73D;}

.impEditTypes div{float:left;}
.import-description textarea{width:100%;min-height: 250px;}

    .variations-titles{
    float: left;
    width: 100%;
    list-style: none;
    margin: 36px 0 10px;
    text-align: center;
    background: gray;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    }
    .variations-titles li{float:left;width: 10%;margin:0 10px;padding: 10px 5px;}
    
    .variations-data{
    float: left;
    width: 100%;
    list-style: none;
    margin: 10px 0;
    background: #fff;
    text-align: center;
    border-bottom: solid 1px gray;
    padding-bottom: 20px;
    }
    .variations-data li{float:left;width: 10%;margin:0 10px;padding: 10px 5px;}
    .variations-data li input{width:75%;text-align: center;}

/* MY PRODUCT */
.mp-table{
    float: left;
    width: 100%;
    margin: 40px 0px;
    background: #fff;
}

.mp-table ul{
list-style: none;
    width: 100%;
    float: left;
    padding: 30px 10px;
    margin: 0;
    text-align: center;
}

.mp-table ul li{
    float:left;
    margin: 0 10px;
    width:11%;
}

ul.mp-table-titles{

    font-size: 16px;
    font-weight: 600
}
.mp-table-image img{width:30%;}

.mp-table ul li.mp-table-check{width:5%;}

.mp-table ul li button{
    padding: 5px 30px;
    border: none;
}

.mp-product-detail{
    float: left;
    width: 100%; 
    display:none;
}

.mp-product-detail-image{
     float: left;
    width: 30%;   
}

.mp-product-detail-data{
    float: left;
    width: 70%;
    text-align: left;
    font-size: 18px;
    padding: 40px 0px;    
}


.mp-product-detail button{
    padding: 5px 30px;
    border: none;    
}

.mp-product-detail-data .title{font-size: 22px}


/* ORDERS */


.mp-table-left, .mp-table-right{    float: left;
    width: 50%;}

.mp-table-right{padding: 32px 10px;}

.mp-table-right button{
    float: left;
    margin: 0 20px;
    width: 25%;
}

.left-date{
    float: left;
    width: 50%;
}

.left-order{
    float: left;
    width: 50%;
}

.order-search-title{
    float: left;
    width: 30%;
    padding: 20px 10px;
    font-size: 20px;
    text-align: center;
}
#txt-order-search{margin-top: 20px;}

.left-date span{
    width: 50px;
    float: left;
}

.rowDate{
    margin: 12px 0;
}

.btn-order-export-selected{background-color: orange;}

.order-status span{color:#fff;padding:4px 30px;width:80%;}
.order-status .order-Paid{background-color:#1A6E33; }
.order-status .order-Shipped{background-color:#89B73D;}
.order-status .order-Refounded{background-color:red;}
.order-status .order-Pending{background-color:orange;}
.order-status .order-Delivered{background-color:lightblue;}
.order-status .order-Inprocess{background-color:yellow;color:#000;}

.hide{
    display: none;
}


.label-txt {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-default {
    background-color: #777;
}


/* ORDER DETAIL */
.screen-order-detail{
    background: #fff;
    padding: 20px;
    float: left;
    width: 100%;
}
.sod-header{
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.sod-header-box{
    float: left;
    width: 30%; 
}


.sod-header-box label{
    float: left;
    width: 30%;
    padding: 10px;
    margin: 0;
    border: solid 1px #edf0f5;
}

.sod-header-box div{
    float: left;
    width: 70%;
    padding: 10px;
    margin: 0;
    border: solid 1px #edf0f5;
}

.sod-body{
    float: left;
    width: 100%;
}


.sod-body-side-left {
    float: left;
    width: 30%;
    margin: 0;
    padding: 0px;
}


.sod-body-side-right {
    float: right;
    width: 69%;
    margin: 5px 0;
    padding: 0px;
    background: #edf0f5;
}

.sod-body-side-content{
    float: left;
    width: 100%;
    background: #edf0f5;
    margin: 5px;
}

.sod-title{
    text-align: center;
    font-size: 18px;
    color: #89B73D;
    padding: 10px;
    font-weight: 600;
}

.sod-row{
    float: left;
    padding: 10px;
    width: 100%;
}

.sod-row label{
    float: left;
    width: 35%;
}

.sod-row value{
    float: left;
    width: 55%;
}

.title-right{
    font-size: 18px;
    text-align: center;
    padding: 20px;
    border-bottom: solid 1px;
    margin-bottom: 10px;
    font-weight: 600;
}

.titles-right{
    list-style: none;
    float: left;
    width: 100%;
}


.titles-right li{
float: left;
    width: 20%;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}


.data-right{
    list-style: none;
    float: left;
    width: 100%;
}

.data-right li{
    float: left;
    width: 20%;
    text-align: center;
    font-size: 12px;
}

.sod-row-content{
    float: left;
    width: 50%;
    text-align: center;
}

.sod-row-content span{
    padding: 5px 10px;
}

.order-resume{
        float: left;
    width: 100%;
    padding: 20px;
}

.resume-left{
    float: left;
    width: 50%;
}

.resume-left p label{
float: left;
    width: 40%;
    font-weight: bold;
}


.resume-left p value{
float: left;
    width: 40%;
    font-weight: bold;
}

.resume-total-order{
    font-size: 20px;
}



.resume-right button{
    padding:10px 20px;
}


/* SETTINGS */
.screen-settings{padding: 50px;}
.set-inputs p input{width:30px;}
.set-msg{}
















/* SETTINGS DEVICES */
@media (min-width: 1200px){

    .container {
        max-width: 1920px;
    }

    article {
        height: 610px;
    }

}























